<h1>New pom</h1>

<form id="new-pom" name="pom">
  <div class="field">
    <label for="start"> start:</label>
    <input type="text" name="start" id="start" value="<%= start %>" >
  </div>

  <div class="field">
    <label for="end"> end:</label>
    <input type="text" name="end" id="end" value="<%= end %>" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="field">
    <label for="realtime"> realtime:</label>
    <input type="text" name="realtime" id="realtime" value="<%= realtime %>" >
  </div>

  <div class="field">
    <label for="successful"> successful:</label>
    <input type="text" name="successful" id="successful" value="<%= successful %>" >
  </div>

  <div class="field">
    <label for="pom_set_id"> pom_set_id:</label>
    <input type="text" name="pom_set_id" id="pom_set_id" value="<%= pom_set_id %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Pom" />
  </div>

</form>

<a href="#/index">Back</a>