<h1><a data-toggle="collapse" data-target="#pomBody<%= id %>"> Pom#<%= id %> </a></h1>

<div class="pomBody collapse" id="pomBody<%= id %>" >

  <label>description: <%= description %></label>
  <label>start: <%= start %></label>
  <label>end: <%= end %></label>

  <input type="text" id="search_input" />
  <input type="button" id="search_button" value="Search" />

  <p>
  <b>Start:</b>
  <%= start %>
  </p>

  <p>
  <b>End:</b>
  <%= end %>
  </p>

  <p>
  <b>Description:</b>
  <%= description %>
  </p>

  <p>
  <b>Realtime:</b>
  <%= realtime %>
  </p>

  <p>
  <b>Successful:</b>
  <%= successful %>
  </p>

  <p>
  <b>Pom set:</b>
  <%= pom_set_id %>
  </p>
</div>
