<h1> Pom#<%= id %></h1>
<label>description: <%= description %></label>
<label>start: <%= start %></label>
<label>end: <%= end %></label>

<input type="text" id="search_input" />
<input type="button" id="search_button" value="Search" />

<p>
<b>Start:</b>
<%= start %>
</p>

<p>
<b>End:</b>
<%= end %>
</p>

<p>
<b>Description:</b>
<%= description %>
</p>

<p>
<b>Realtime:</b>
<%= realtime %>
</p>

<p>
<b>Successful:</b>
<%= successful %>
</p>

<p>
<b>Pom set:</b>
<%= pom_set_id %>
</p>


<a href="#/index">Back</a>
