<%= form_for(@pom) do |f| %>
  <% if @pom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pom.errors.count, "error") %> prohibited this pom from being saved:</h2>

      <ul>
      <% @pom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :realtime %><br />
    <%= f.check_box :realtime %>
  </div>
  <div class="field">
    <%= f.label :successful %><br />
    <%= f.check_box :successful %>
  </div>
  <div class="field">
    <%= f.label :pom_set_id %><br />
    <%= f.number_field :pom_set_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
